@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Message"] = "Westside Web Application";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>My First Web Application with ASP.NET Core and C#</p>
